{% include "header.html" %}

  <h1>Woman Stabbed by Robbers</h1>
  <p>
    Masked robbers armed with a knife left a post office worker with a cut to her hand during a frightening raid.

    Fortunately the woman did not need hospital treatment but she was assessed by West Midlands Ambulance Service (WMAS) staff.

    She was injured when three men, all wearing balaclavas, burst into Wolvey Post Office on Monday morning (March 11).

    The trio threatened staff with a knife and the woman, who has not been identified but is aged in her 40s, suffered a cut to her hand.

    Empty-handed, the suspects then fled the shop and made off in a grey Audi.

    The alarm was raised with the police who also contacted WMAS.

    A WMAS spokesperson said an ambulance was sent to the scene at around midday and one woman was treated for a minor injury and declined hospital treatment.

  </p>

</body>

</html>
