{% include "header.html" %}
<h1>Upcoming Movies 2019</h1>
<ol type="1">
  <li>Us
<ul>
    <li>March 22</li>
    </ul>
  </li>
  <li>The Beach Bum
    <ul>
      <li> March 29</li>
      </ul>
      </li>
  <li>Dumbo
    <ul>
      <li>March 29</li>
    </ul>
    </li>
  <li>Pet Sematary
    <ul>
      <li>April 5</li>
    </ul>
    </li>
  <li>Hellboy
    <ul>
      <li>April 12</li>
    </ul>
    </li>
  <li>Missing Link
    <ul>
      <li>April 12</li>
    </ul>
    </li>
  <li>Avengers: Endgame
    <ul>
      <li>April 26</li>
    </ul>
    </li>
  <li>Long Shot
    <ul>
      <li>May 3</li>
    </ul>
    </li>
  <li>John Wick: Parabellum
    <ul>
      <li>May 17</li>
    </ul>
    </li>
  <li>Aladdin
    <ul>
      <li>May 24</li>
    </ul>
    </li>
  <li>Booksmart
    <ul>
      <li>May 24</li>
    </ul>
    </li>
  <li>Godzilla: King of the Monsters
    <ul>
      <li>May 31</li>
    </ul>
    </li>
  <li>Dark Phoenix
    <ul>
      <li>June 7</li>
    </ul>
    </li>
  <li>Men In Black International
    <ul>
      <li>June 14</li>
    </ul>
    </li>
  <li>Toy Story 4
    <ul>
      <li>June 21</li>
    </ul>
    </li>
  <li>Spider-Man: Far From Home
    <ul>
      <li>July 5</li>
    </ul>
    </li>
  <li>The Lion King
    <ul>
      <li>July 19</li>
    </ul>
    </li>
  <li>Once Upon a Time in Hollywood
    <ul>
      <li>July 26</li>
    </ul>
    </li>
  <li>The New Mutants
    <ul>
      <li>August 2</li>
    </ul>
    </li>
  <li>IT: Chapter 2
    <ul>
      <li>September 6</li>
    </ul>
    </li>
  <li>Joker
    <ul>
      <li>October 4</li>
    </ul>
    </li>
  <li>Untitled Terminator Sequel
    <ul>
      <li>November 1</li>
    </ul>
    </li>
</ol>
</body>
</html>
